<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div>
      <ul>
        <li><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page" [class.locked]="!isAuthorized"><span class="change-text">Nasa</span></a></li>
        <li><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page" [class.locked]="!isAuthorized"><span class="change-text">Asteroids</span></a></li>
        <li><a routerLink="/third-component" routerLinkActive="active" ariaCurrentWhenActive="page" [class.locked]="!isAuthorized"><span class="change-text">Earth</span></a></li>
        <li><a routerLink="/fourth-component" routerLinkActive="active" ariaCurrentWhenActive="page" [class.locked]="!isAuthorized"><span class="change-text">Mars</span></a></li>
        <li><a routerLink="/fifth-component" routerLinkActive="active" ariaCurrentWhenActive="page" [class.locked]="!isAuthorized"><span class="change-text">Epic</span></a></li>
        <li><a routerLink="/six-component" routerLinkActive="active" ariaCurrentWhenActive="page"><span style="text-decoration:underline; font-size: larger; font-weight: bold;">Register</span></a></li>
    
      </ul>
    </div>
    <div class="image">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
</html>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->


<!-- The routed views render in the <router-outlet>-->